<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <!--自动扫描包，扫描带有@Controller的类-->
    <context:component-scan base-package="com.check.controller"></context:component-scan>

    <!--如果没有 annotation-driven标签，则<resource>元素会阻止任意控制器被调用-->
    <mvc:annotation-driven></mvc:annotation-driven>
    <!-- 配置静态资源访问，如果不用Resources标签，则可以不用配置 annotation-driven元素-->
    <mvc:resources mapping="/css/**" location="/css/"></mvc:resources>
    <mvc:resources mapping="/*.html" location="/"></mvc:resources>
    <mvc:resources mapping="/jquery-easyui-1.5.3/**" location="/jquery-easyui-1.5.3/"></mvc:resources>

    <!--配置视图解析器为JSP页面，并配路径的前缀和后缀-->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
</beans>